body{
    margin: 0;
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p{
    color: whitesmoke;
}

/* Animacion para pagina 1 */

.page1{

    position: absolute;

    width: 100%;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tv{
    position: absolute;

    width: 500px;
    height: 300px;
    background-image: url('/app/img/tv1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    animation: tv-anima 1s;
    will-change: opacity;
    animation-fill-mode: forwards;

    animation-delay: 2s;
}

@keyframes tv-anima{

    0%{
        opacity: 1;
    }
    20%{
        background-position: -1px -1px;
    }
    40%{
        background-position: 0px 0px;
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    60%{
        background-position: -1px -1px;
        opacity: .5;
    }
    80%{
        background-position: 0px 0px;
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.tv2{
    position: absolute;

    width: 500px;
    height: 300px;
    background-image: url('/app/img/tvlluvia.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}


/* Animacion para pagina 2 */


.page2{
    position: relative;

    width: 100%;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
}





.out-panel{
    position: absolute;

    animation: outPanel 1s;
    animation-fill-mode: forwards;
}

@keyframes outPanel{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.in-panel{
    position: relative;

    animation: inPanel 1s;
    animation-fill-mode: forwards;
    will-change: opacity;

    z-index: 1001;
}

@keyframes inPanel{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}