

<section class="page1">

   <div class="item">
       <div class="container">
            <span class="text-small" style="opacity: 0;">
                Antes de continuar 
                
            </span>
       </div>
   </div>

   <div class="item">
        <div class="container">
            <span class="text-big" style="opacity: 0;">¿A qué le temes?</span>  
            <!-- <div class="cuadrado" style="position: relative; width: 50%; height: 50%; background-color: blue;"></div> -->
        </div>
   </div>

   <div class="item">
       <div class="container">
            <a id="gop2" href="#!">
                <div class="borde-circulo" style="opacity: 0;">
                    <i class="material-icons" style="opacity: 0;">keyboard_arrow_down</i>
               </div>
            </a>

       </div>

   </div>

</section>

<section class="page2After">

</section>



<section class="page2">

    <div class="item">
        <div class="container">
             <span class="text-medium" style="opacity: 0;">
                ¿En dónde está tu temor?
             </span>
        </div>
    </div>
    <div class="item">
         <div class="container">
             <img src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 0;" alt="">
         </div>
    </div>
    <div class="item">
        <div class="container">
            <span class="text-small-medium" style="opacity: 0;margin-bottom:40px;">
                “Ellos no quieren que sea feliz”
             </span>
        </div>
    </div>

    <a id="gop3" href="#!" class="objScroll" style="opacity: 0;">
        <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
        <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
    </a>   
    
</section>


<section class="page3">
</section>

<section class="page4After">
</section>

<section class="page4">

    <div class="item"></div>
    <!-- <div class="item"></div> -->
    <div class="item">
        <div class="container" style="position: relative;">
            <img class="mascarag1" src="/app/img/v2/mascara.png" style="width: 389px; opacity: 0;" alt="">
            <img class="boca" src="/app/img/v2/culpa.png" style="position: absolute; width: 389px; opacity: 0;z-index: 2000; width: 160px; bottom: 30px;" alt="">
        </div>
    </div>
    <div class="item" style="display: flex; align-items: center; padding-left: 20px;">
        <div class="container-text" style="opacity: 0;">
            <span class="text-medium" style="font-weight: 400;">Crees que eres la víctima<br>pero </span><span class="text-medium" style="z-index: 1000; position: relative; padding-left: 20px;">NO LO ERES.</span>
            <div style="position: relative; width: 20px; height: 65px; left: 125px; bottom: 67px; background-color: #B00909; opacity: 0;"></div>
        </div>
        
    </div>
    <div class="item"></div>
    <!-- <div class="item"></div> -->


        <a id="gop4" href="#!" class="objScroll2" style="opacity: 0;">
            <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
            <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
        </a>   


</section>


<section class="page5">
    <div></div>
</section>


<section class="page6">

    <div class="item">
        <div class="container">
             <span class="text-medium" style="opacity: 0;">
             </span>
        </div>
    </div>

    <div class="item">
        <div class="container">
            <img src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 0;" alt="">
        </div>
   </div>
   <div class="item">
       <div class="container">
           <span class="text-small-medium" style="opacity: 0;margin-bottom:40px;">
               “No sé que me pueda pasar.<br>No puedo hacerlo”
            </span>
       </div>
   </div>

        <a id="gop5" href="#!" class="objScroll3" style="opacity: 0;">
            <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
            <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
        </a>   

</section>


<section class="page7After">
    <div></div>
</section>


<section class="page7">

    <div class="item"></div>
    <div class="item"></div>
    <div class="item">
        <div class="container" style="position: relative;">
            <img class="mascarag2" src="/app/img/v2/mascara.png" style="width: 389px; opacity: 0;" alt="">
            <img class="boca" src="/app/img/v2/culpa2.png" style="position: absolute; width: 389px; opacity: 0;z-index: 2000; width: 160px; bottom: 30px;" alt="">
        </div>
    </div>
    <div class="item" style="display: flex; align-items: center;">
        <div class="container-text" style="opacity: 0; padding-left: 30px;">
            <span class="text-medium" style="font-weight: 400;">El miedo es para</span><br><span class="text-medium" style="z-index: 1000; position: relative; padding-left: 3px;">VALIENTES.</span>
            <div style="position: relative; width: 20px; height: 65px; left: -9px; bottom: 67px; background-color: #B00909; opacity: 0;"></div>
        </div>
    </div>
    <div class="item"></div>
    <div class="item"></div>


        <a id="gop6" href="#!" class="objScroll4" style="opacity: 0;">
            <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
            <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
        </a>   

</section>


<section class="page8">
    <div></div>
</section>


<section class="page9">

    <div class="item">
        <div class="container">
             <span class="text-medium" style="opacity: 0;">
                
             </span>
        </div>
    </div>
    <div class="item">
         <div class="container">
             <img src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 0;" alt="">
         </div>
    </div>
    <div class="item">
        <div class="container">
            <span class="text-small-medium" style="opacity: 0; margin-bottom:40px;">
                “No necesito atenderme en este momento”
             </span>
        </div>
         
    </div>

        <a id="gop7" href="#!" class="objScroll5" style="opacity: 0;">
            <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
            <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
        </a>   

</section>

<section class="page10">
    <div></div>
</section>

<section class="page11After">
    <div></div>
</section>

<section class="page11">

    <div class="item"></div>
    <div class="item"></div>
    <div class="item">
        <div class="container" style="position: relative;">
            <img class="mascarag3" src="/app/img/v2/mascara.png" style="width: 389px; opacity: 0;" alt="">
            <img class="boca" src="/app/img/v2/culpa3.png" style="position: absolute; width: 389px; opacity: 0;z-index: 2000; width: 160px; bottom: 30px;" alt="">
        </div>
    </div>
    <div class="item" style="display: flex; align-items: center;">
        <div class="container-text" style="opacity: 0;">
            <span class="text-medium" style="font-weight: 400;">Tu soberbia hará que cada día<br> </span><span class="text-medium" style="z-index: 1000; position: relative; padding-left: 3px;">ME ALEJE MÁS DE TI.</span>
            <div style="position: relative; width: 20px; height: 65px; left: -9px; bottom: 67px; background-color: #B00909; opacity: 0;"></div>
        </div>
    </div>
    <!-- <div class="item"></div>
    <div class="item"></div> -->

    <a id="gop8" href="#!" class="objScroll6" style="opacity: 0;">
        <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
        <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
    </a>   


</section>

<section class="page12">
    <div></div>
</section>


<section class="page13">
    <div class="item center-v-h">

        <div class="container center" style="padding-bottom: 20px; position: absolute; top: -230px; z-index: 2003;">
            <div class="row">
                <div class="col l3 s3" style="margin-right: 60px;"><img class="mcaida1" src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 1;" alt=""></div>
                <div class="col l3 s3" style="margin-right: 60px;"><img class="mcaida2" src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 1;" alt=""></div>
                <div class="col l3 s3"><img class="mcaida3" src="/app/img/v2/mascara.png" style="width: 98px; height: 113px; opacity: 1;" alt=""></div>
            </div>
        </div>

        <span class="text-big-ultra" style="opacity: 0; color: #202020">TEMAS</span>
    </div>
    <div class="item" style="padding-top: 60px;">
        <div class="container-text" style="opacity: 0;">
            
            <p style="position: absolute; text-align: center; margin: 0px 10rem 0 10rem; font-size: 1.6rem; z-index: 1010">Soberbia, Victimismo, Amor propio, Empoderamiento, Inteligencia emocional, Creencias, Felicidad, Espiritualidad, Dolor, Miedos, Máscaras, Ego, Sexo, Obscuridad, Engaño, Infidelidad, Abandono,<br><span style="font-size: 2.31rem; padding: 0 5px 8px 10px;">Tú,</span><span>Yo.</span></p>
            <div class="barra-r" style="position: absolute; width: 6px;height: 51px;left: 621px;top: 120px;background-color: #B00909;opacity: 0; z-index: 1001"></div>
        </div>
    </div>
    <div class="item">
        
        
    </div>

    <a id="gop9" href="#!" class="objScroll7" style="opacity: 0;">
        <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
        <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
    </a>   


</section>

<section class="page14After">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>


<section class="page14">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>

<section class="page15">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>


<section class="page16">
    <div class="item center-v-h">
        <span class="text-big-ultra" style="opacity: 0; color: #B00909; font-size: 5rem;">NOSOTROS</span>
    </div>

    <div class="item center-v-h">
        <p class="text-small center npr" style="opacity: 0; font-size: 18px !important; padding: 0 2.63rem 0 2.63rem;">Somos 3 coaches certificados internacionalmente (ICC, ICI, ICF, MQ, PTM, CSM, HDP, bla bla bla), con miles de horas de experiencia corporativa<br>y personal.</p>
    </div>

    <div class="item center-v-h">
        <div class="row">
            <div class="col s12 l6">
                <p class="pr1" style="text-align: justify; padding: 0 2.63rem 0  4.3rem; font-size: 1.12rem; opacity: 0;">Somos peruanos y nos gusta montar bici, nos gusta la poesía, enseñar y aprender, hacer yoga, nadar, tener sexo en todas las poses (y el que dice que no, miente), disfrutamos caminar, correr, fumar un puchito de vez en cuando, joder, nos gusta el vino, nos gusta viajar, escuchar buena música, tener conversaciones inteligentes, los buenos debates, no entramos en política, ni en religión (pero sí en fútbol).</p>
            </div>
            <div class="col s12 l6">
                <p class="pr2" style="text-align: justify; padding: 0 4.0rem 0 2.63rem; font-size: 1.12rem; opacity: 0;">Estamos enamorados, nos cagamos de miedo tanto como de risa, contamos chistes malos, somos buenos amigos, excelentes profesionales, también metemos la pata, somos padres, y como tú, somos seres humanos; pero sobretodo, nos encanta ayudar a las personas y a las empresas a incrementar su productividad y por ende, su felicidad.</p>
                <span class="text-small left" style="position: relative; left: -20px; opacity: 0; font-size: 1.43rem !important; padding: 0px 3px 0 4px; margin-top: 60px; color: #787878; font-weight: 600;">Seguro te da curiosidad de saber quiénes somos, ¿no?</span>
            </div>
            <!-- <div class="col s12 l12 right">

            </div> -->
        </div>

    </div>

    <a id="gop10" href="#!" class="objScroll8" style="opacity: 0;">
        <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 10px; left: 80px;  width: 105px !important;" alt="">
        <i class="material-icons down" style="position: absolute; bottom: 35px; left: 103px; color: white !important;">keyboard_arrow_down</i>
    </a>   


</section>

<section class="page17">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
        <span class="text-big-ultra" style="opacity: 0; color: #4F4F4F">Aún estás a tiempo</span>
    </div>
    <div class="item"></div>

    <a id="gop11" href="#!" class="objScroll9" style="opacity: 0;">
        <img src="/app/img/v2/scroll.png" style="position: absolute; bottom: 30px; right: 80px;  width: 105px !important;" alt="">
        <i class="material-icons down" style="position: absolute; bottom: 63px; right: 103px; color: white !important;">keyboard_arrow_down</i>
    </a>   

</section>


<section class="page18">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
        <div class="row center">
            <div class="col s12 l12"><img src='/app/img/v2/primer.png' style="width: 393px;" alt=""></div>
            <div class="col s12 l12">
                <a id="gop19" href="#!" style="opacity: 0; background-color: #B00909 !important; margin-top: 20px;" class="waves-effect waves-light btn">Apúntate</a>
            </div>
        </div>
    </div>
    <div class="item"></div>
</section>


<section class="page19">
    <div class="item center-v-h">
    
    </div>
    <div class="item center-v-h">
        <div class="row center">
            <div class="col s12 l12" style="padding-bottom: 70px;"><img src='/app/img/v2/serfeliz.png' alt=""></div>

            <div class="col s12 l12">
                <input type="text" placeholder="Nombre completo" style="margin-bottom: 17px;">
            </div>
            <div class="col s12 l12">
                <input type="text" placeholder="Correo electrónico" style="margin-bottom: 17px;">
            </div>
            <div class="col s12 l12">
                <input type="text" placeholder="Número de celular">
            </div>

            <div class="col s12 l12" style="padding-top: 25px;">
                <a id="gop20" href="#!" style="background-color: #B00909 !important;" class="waves-effect waves-light btn">Sí, quiero</a>
            </div>
        </div>
    </div>
    <div class="item"></div>
</section>


<section class="page20">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>

<section class="page21">


    <div class="item">
        <div class="container">
             <img src="/app/img/v2/fk.png" style="opacity: 0; margin-top: 30px !important; position: absolute;" alt="">
        </div>
    </div>
 
    <div class="item">
         <div class="container">
             <span class="text-big" style="opacity: 0; font-size: 4.5rem !important;">El coaching que<br>no esperabas.</span>  
         </div>
    </div>
 
    <div class="item">
        <div class="container">
            <span class="text-small" style="opacity: 0;">Te hemos enviado los detalles de este nuevo comienzo a tu correo.</span>
        </div>

    </div>

   

 </section>


 <section class="page22">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>


<section class="page23">
    <div class="item center-v-h">
    </div>
    <div class="item center-v-h">
    </div>
    <div class="item"></div>
</section>




