

<div class="msg" style="position: fixed; opacity: 0; padding-top: 20px;">

    <div class="row right">
        <div class="col l12">
            <span style="color: white; font-weight: bold; font-size: 16px; margin: 0 20px 0 0;">X CERRAR</span>
        </div>
    </div>

    <div>

    </div>


    <div class="row right" style="height: 100%">
        <div class="col l12">
            
        </div>
    </div>

    <div class="container">

        

    </div>

</div>

<section class="paso1">
    <!-- <img src="/app/img/lluviatv.gif" alt="" style="width: 100%"> -->
</section>


<section class="paso2">
    <div>
        <div class="row">
            <div class="col l12 s12">
                <!-- <img width="200" src="/app/img/MASCARA.png" alt=""> -->
                <div class="mascara">

                </div>
            </div>
        </div>
    
        <div class="row center">
            <div class="col l12 s12">
                <a id="btnDescubrir" class="btn" href="#!">Descubrir</a>
            </div>
        </div>
    </div>
</section>

<section class="container paso3">


        <div class="row center">
            <div class="col l12 s12">
                <h3>FAKE Coaching</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Clickea en cada máscara, econtrarás mensajes ocultos. 
                </p>
            </div>
        </div>
   
        <div class="row center">
            <div class="col l3 s3">
                <img id="mascara1" width="100" src="/app/img/MASCARA.png" alt="">
            </div>
            <div class="col l3 s3">
                <img id="mascara2" width="100" src="/app/img/MASCARA.png" alt="">
            </div>
            <div class="col l3 s3">
                <img id="mascara3" width="100" src="/app/img/MASCARA.png" alt="">
            </div>
            <div class="col l3 s3">
                <img id="mascara4" width="100" src="/app/img/MASCARA.png" alt="">
            </div>
        </div>

    
</section>
