<!-- 

<div class="msg" style="position: fixed; opacity: 0; padding-top: 20px;">

    <div class="row right">
        <div class="col l12">
            <a href="#" class="cerrar"><span style="color: white; font-weight: bold; font-size: 20px; margin: 0 20px 0 0;">X CERRAR</span></a>
        </div>
    </div>


    <div class="row center" style="height: 80%">
        <div class="col l12 s12" style="height: inherit; display: flex;align-items: center;justify-content: center;">
            <div style="position: absolute; width: 80%; height: 200px; border: #c2416c 5px solid;">
                <p style="font-size: 30px; font-weight: 900; color: white">
                    “Decir que 'sí' a todo constantemente nos puede llevar al cansancio mental y al estrés. Saber decir 'no' en determinadas situaciones nos ayudará”
                </p>
            </div>
        </div>
    </div>


</div> -->

<section class="page1">

    <div class="tv">
    </div>

    <div class="tv2">
    </div>

</section>


<section class="page2">

    <div class="tv">
    </div>

    <div class="tv2">
    </div>

</section>
