<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

<title>Fake Coaching</title>
 
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" >
                <a href="#">
                    <img src="https://i.postimg.cc/YCMn2N9y/Mail-Fake-inicio2.png" alt="FakeCoachingHeader" style="display: block;" width="600"  />  
                </a>
            </td>
        </tr>
        <tr>
            <td  align="center" bgcolor="#000000" style="color: #ffffff; font-size: 20px; font-family: 'Open Sans', sans-serif;" height="40" >       
                ¡Hola {{name}}!      
            </td>    
        </tr>     
        <tr>       
            <td align="center">
                <a href="#">
                    <img src="https://i.postimg.cc/c4ZMfxSv/Mail-Fake-cuerpo2.png" alt="FakeCoachingBody" style="display: block" width="600"/>  
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">       
                <a href="www.google.com">
                    <img src="https://i.postimg.cc/PxYY8cVb/Mail-Fake-boton2.png" alt="FakeCoachingButton" style="display: block;" width="600" >
                </a>	
				
            </td>    
        </tr> 
        <tr>
            <td align="center">
                <a href="#">
                    <img src="https://i.postimg.cc/nV1QbqyL/Mail-Fake-final2.png" alt="FakeCoachingFinal" style="display: block;" width="600"/>  
                </a>
            </td>
        </tr> 
        
    </table>
</body>

</html>