<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

<title>Fake Couching</title>
 
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center">
                <a href='#' style="z-index: 3" >
                    <img src="https://i.postimg.cc/FK0ZppVt/Mail-Fake-inicio.png" alt="FakeCoaching" style="display: block; z-index: 0" />  
                </a>
            </td>
        </tr>
        <tr>
            <td  align="left" bgcolor="#000000" style="color: #ffffff; font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: 400; height: 40px; padding-left: 60px" >       
                ¡Hola {{name}}!      
            </td>    
        </tr>     
        <tr>       
            <td align="center">
                <a href='#' style="z-index: 3" >
                    <img src="https://i.postimg.cc/wMYZj3xJ/Mail-Fake-cuerpo.png" alt="FakeCoaching" style="display: block; z-index: 0" />  
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">       
                <a href="https://www.google.com.pe">
                    <img src="https://i.postimg.cc/mrwtw1JZ/Mail-Fake-boton.png" alt="FakeCoaching" style="display: block;" >
                </a>	
				
            </td>    
        </tr> 
        <tr>
            <td align="center" style="cursor: none !important" >
                <a href='#'>
                    <img src="https://i.postimg.cc/25K3MNkg/Mail-Fake-final.png" alt="FakeCoaching" style="display: block; cursor: none !important" />  
                </a>
            </td>            
        </tr> 
        
    </table>
</body>

</html>