<link rel="icon" href="/app/img/favico.png">

<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/app/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- <script src="/app/js/sweetalert.min.js"></script> -->
<!-- <script src="/app/js/sweetalert2@9.js"></script> -->

<link type="text/css" rel="stylesheet" href="/app/css/style.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/app/css/grid.css"  media="screen,projection"/>