<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>FakeCoaching: El coaching que no esperabas</title>

    {{> cabecera}}
    <!-- <script src="/app/js/{{script_name}}.js"></script> -->
</head>
<body>

        {{{body}}}

    <script type="text/javascript" src="/app/js/main.js"></script>
    <script type="text/javascript" src="/app/js/home.js"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/app/js/materialize.min.js"></script>
    
</body>
</html>